.delete {
    position: relative;
    top: 0px;
    right: 0px;
    padding: 10px 20px;
    border: none;
    background-color: #89171a;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}